@import url(./template.css);

.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}

body {
  padding: 0;
}

.X5006-00 img {
  margin: 0;
  width: 100%;
  display: block;
}

.X5006-00 p {
  padding: 0;
  margin: 0;
}

.X5006-00 h3 {
  padding: 0;
  margin: 0;
}

.X5006-00 ul {
  padding: 0;
  list-style-type: none;
}

.X5006-00 ul li {
  padding: 0;
  list-style-type: none;
}

.X5006-00 ul li::before {
  content: "•";
  color: black;
  display: inline-block;
  font-size: 15px;
  width: 5px;
  margin-right: 5px;
}

.X5006-00 {
  overflow: hidden;
}

.X5006-00 div {
  padding: 0;
  width: initial;
}

.X5006-00 br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}

/* MAIN STYLE */

.X5006-00 .hero {
  display: grid;
  justify-items: center;
}

.X5006-00 .hero-description-container {
  padding: 16px;
  display: grid;
  align-content: center;
  gap: 10px;
  width: 245px;
}
.X5006-00 .hero-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000;
}
.X5006-00 .hero-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #242424;
}

.X5006-00 .hero-uppertitle-container {
  width: 336px;
  padding: 12px;
}

.X5006-00 .hero-uppertitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #242424;
}
.X5006-00 .properties {
  display: grid;
  justify-items: center;
  padding: 16px 0 0 0;
}
.X5006-00 .properties-title {
  width: 320px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000;
}
.X5006-00 .properties-list {
  display: grid;
  justify-items: center;
  list-style-type: disc;
  margin-bottom: 26px;
}

.X5006-00 .properties-item {
  display: flex;
  align-items: flex-start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #242424;
}
.X5006-00 .properties-image {
  width: 100%;
}

.X5006-00 .about-shave {
  padding: 16px;
  background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/about-background.webp");
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  gap: 42px;
}

.X5006-00 .about-shave-item {
  display: grid;
  gap: 16px;
}

.X5006-00 .about-shave-container .about-shave-line {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.X5006-00 .about-shave-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.X5006-00 .about-shave-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 134%;
  color: #fff;
  text-shadow: 3px 4px 13px #000;
}
.X5006-00 .about-shave-span {
  font-weight: 700;
}
.X5006-00 .about-shave-uppertitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 134%;
  color: #fff;
}

.X5006-00 .about-shave-item:nth-child(2) .about-shave-title,
.X5006-00 .about-shave-item:nth-child(4) .about-shave-title {
  color: #000;
}

.X5006-00 .about-shave-item:nth-child(1) .about-shave-description {
  margin-bottom: 12px;
}

.X5006-00 .about-shave-item:nth-child(4) {
  padding-bottom: 12px;
}

.X5006-00 .shave-design {
  position: relative;
  background-color: white;
  padding: 16px 0 0 0;
  margin: -16px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.X5006-00 .shave-design-background {
  background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/about-second-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 174px;
}

.X5006-00 .shave-design-title {
  width: 300px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}
.X5006-00 .shave-design-description {
  width: 300px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #242424;
  margin-bottom: 16px;
}
.X5006-00 .shave-design-background {
  margin-bottom: 36px;
}
.X5006-00 .shave-design-bgimage {
  position: absolute;
  top: 53%;
  left: 16%;
  background-color: transparent;
  width: 90px;
  height: 90px;
}
.X5006-00 .shave-design-span {
  font-weight: 700;
}

.shave-design-image-container {
  border-radius: 0 0 766px 766px;
  width: 360px;
  height: 241px;
  background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/design-bg-image.webp");
  background-position: center;
  background-size: contain;
  display: grid;
  align-items: center;
}
.X5006-00 .shave-design-image {
  width: 186px;
  height: 186px;
  margin: 0 auto;
}

.X5006-00 .capability {
  padding: 24px 16px 0 16px;
  display: grid;
  justify-items: center;
}
.X5006-00 .capability-title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #000;
}
.X5006-00 .capability-description {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #242424;
}
.X5006-00 .capability-image {
  margin-bottom: 24px;
  border-radius: 21px;
}

.X5006-00 .compare {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.X5006-00 .warranty-reg-container {
  height: 200px;
  background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/warranty-reg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 60px;
}
.X5006-00 .warranty-reg-image {
  width: 71px;
  height: 81px;
  margin-left: 20px;
}
.X5006-00 .warranty-reg-uppertitle {
  margin-left: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 111%;
  color: #fff;
}
.X5006-00 .warranty-reg-logo-container {
  height: 70px;
  background-color: #7d969a;
  display: grid;
  align-items: center;
  justify-items: center;
}
.X5006-00 .warranty-reg-logo {
  width: 26px;
  height: 34px;
}
@media (min-width: 768px) {
  .X5006-00 .visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

  .X5006-00 .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/hero-background.webp");
    background-position: center;
    background-size: cover;
    height: 375px;
    gap: 23px;
  }

  .X5006-00 .hero-description-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 41px;
    width: 320px;
    gap: 23px;
  }
  .X5006-00 .hero-title {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
  }
  .X5006-00 .hero-description {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #fff;
  }
  .X5006-00 .hero-uppertitle-container {
    padding: 0 0 10px 41px;
    width: 551px;
  }

  .X5006-00 .hero-uppertitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  .X5006-00 .properties {
    background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/properties.webp");
    background-position: center;
    background-size: cover;
    height: 342px;
    align-content: center;
    justify-items: end;
  }
  .X5006-00 .properties-title {
    width: 360px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #fff;
    text-align: left;
  }
  .X5006-00 .properties-list {
    list-style-type: disc;
    margin-bottom: 26px;
  }

  .X5006-00 .properties-item {
    width: 360px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 143%;
    color: #fff;
    text-shadow: 4px 4px 8px #000;
  }
  .X5006-00 .properties-item::before {
    width: 10px;
    font-size: 15px;
    margin-right: 10px;
    color: #fff;
  }
  .X5006-00 .about-shave {
    padding: 32px;
    background-image: url("https://i.citrus.world/uploads/Haber/X5006_00/about-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    gap: 42px;
  }
  .X5006-00 .about-shave-container {
    position: relative;
    display: grid;
    grid-area: container;
  }

  .X5006-00 .about-shave-item {
    display: grid;
    grid-template-columns: 1fr 348px;
    grid-template-areas: "container image";
  }

  .X5006-00 .about-shave-container .about-shave-image {
    width: 348px;
    grid-area: image;
  }

  .X5006-00 .about-shave-title {
    position: absolute;
    top: 23%;
    width: 300px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 134%;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0px;
  }

  .X5006-00 .about-shave-container .about-shave-line {
    position: absolute;
    top: 30%;
    width: 334px;
    height: 50px;
    margin: 0px;
    border: 0;
    padding: 0;
    overflow: visible;
  }

  .X5006-00 .about-shave-description {
    position: absolute;
    top: 38%;
    width: 300px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 134%;
    color: #fff;
    text-shadow: 3px 4px 13px #000;
    margin-bottom: 16px;
  }
  .X5006-00 .about-shave-span {
    font-weight: 700;
  }
  .X5006-00 .about-shave-uppertitle {
    position: absolute;
    top: 73%;
    width: 300px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 134%;
    color: #fff;
  }
  .X5006-00 .about-shave-item:nth-child(2),
  .X5006-00 .about-shave-item:nth-child(4) {
    display: grid;
    grid-template-columns: 348px 1fr;
    grid-template-areas: "image container";
  }
  .X5006-00 .about-shave-item:nth-child(2) svg {
    transform: rotateY(180deg);
    top: 40%;
    right: -3%;
  }
  .X5006-00 .about-shave-item:nth-child(2) .about-shave-title {
    width: 320px;
    top: 30%;
    right: -11%;
    color: #000;
  }
  .X5006-00 .about-shave-item:nth-child(2) .about-shave-description {
    width: 277px;
    top: 50%;
    left: 5%;
    color: #000;
  }

  .X5006-00 .about-shave-item:nth-child(4) svg {
    width: 360px;
    transform: rotateY(180deg);
    top: 42%;
    right: -3%;
  }

  .X5006-00 .about-shave-item:nth-child(4) .about-shave-title {
    width: 320px;
    top: 32%;
    right: -8%;
    color: #000;
  }

  .X5006-00 .about-shave-item:nth-child(4) .about-shave-description {
    width: 322px;
    top: 50%;
    left: 3%;
    color: #000;
  }
}

@media (min-width: 1024px) {
  .X5006-00 .hero {
    height: 509px;
    gap: 60px;
  }

  .X5006-00 .hero-description-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 55px;
    width: 420px;
    gap: 30px;
  }
  .X5006-00 .hero-title {
    font-size: 32px;
    line-height: 120%;
  }
  .X5006-00 .hero-description {
    font-size: 24px;
    line-height: 120%;
  }

  .X5006-00 .hero-uppertitle-container {
    padding: 0 0 5px 55px;
    width: 690px;
  }

  .X5006-00 .hero-uppertitle {
    font-size: 12px;
    color: #fff;
  }

  .X5006-00 .properties {
    height: 464px;
  }
  .X5006-00 .properties-title {
    width: 530px;
    font-size: 30px;
    line-height: 120%;
  }

  .X5006-00 .properties-item {
    width: 530px;
    font-size: 24px;
    line-height: 143%;
  }

  .X5006-00 .properties-item::before {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  .X5006-00 .hero {
    height: 711px;
    gap: 80px;
  }

  .X5006-00 .hero-description-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 77px;
    width: 740px;
    gap: 25px;
  }
  .X5006-00 .hero-title {
    font-size: 55px;
  }

  .X5006-00 .hero-description {
    font-size: 35px;
  }

  .X5006-00 .hero-uppertitle-container {
    padding: 0 0 30px 77px;
    width: 1124px;
  }

  .X5006-00 .hero-uppertitle {
    font-size: 12px;
    color: #fff;
  }

  .X5006-00 .properties {
    height: 650px;
  }
  .X5006-00 .properties-title {
    width: 760px;
    font-size: 42px;
    line-height: 120%;
  }

  .X5006-00 .properties-item {
    width: 760px;
    font-size: 40px;
    line-height: 143%;
    display: flex;
    align-items: flex-start;
  }

  .X5006-00 .properties-item::before {
    width: 15px;
    font-size: 30px;
    margin-right: 15px;
  }
}
